

<table id="example" datatable="ng" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
            	<th>ID</th>
                <th>Name</th>
                <th>Mail</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="value in usersArray">
                    <td>{{ value.id }}</td>
                    <td>{{ value.name }}</td>
                    <td>{{ value.mail }}</td>
                    <td>
                        <span ng-click="editUser(value)" style="cursor: pointer; font-weight:500; font-size:15px" class="btn btn-info" data-toggle="modal" data-target="#myModal">Edit</span> &nbsp;&nbsp; | &nbsp;&nbsp;
                        <span ng-click="deleteUser(value)" style=" cursor: pointer; font-weight:500; font-size:15px" class="btn btn-danger">Delete</span>
                    </td>
            </tr>
        </tbody>
</table>


<!--
<table ng-table="vm.tableParams" class="table" show-filter="true">
    <tr ng-repeat="user in usersArray">
        <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
            {{user.name}}</td>
        <td title="'Mail'" filter="{ mail: 'text'}" sortable="'mail'">
            {{user.mail}}</td>
    </tr>
</table>
-->

<!--
<form name="modUsersForm" novalidate>
    <div>
        <table class="table table-bordered" ng-disabled="modUsersForm.$invalid">
            <tr>
                <th>Rate</th>
                <th>Opinion</th>
                <th>users per page</th>
            </tr>
            <tr>
                <td>
                    <input type="text" ng-model="RateSearch" ng-disabled="modUsersForm.$invalid" />
                </td>
                <td>
                    <input type="text" ng-model="OpinionSearch" ng-disabled="modUsersForm.$invalid" />
                </td>
                <td>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize" />
                </td>
            </tr>
        </table>
    </div>
    <h1>users found:</h1>
    <table class="table table-striped">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="value in usersArray | itemsPerPage: 5">
                    <td>{{ value.name }}</td>
                </tr>
            </tbody>
        </table>
    <div ng-show="modUsersForm.$valid">
        <div class="text-left" boundary-links="true">
            <dir-pagination-controls boundary-links="true" template-url="view/templates/dir-pagination-controls.html"></dir-pagination-controls>
        </div>
    </div>
    <button type="button" class="btn btn-info" ng-click="userAction=1;$parent.showForm=0">Back</button>
</form>-->