<!DOCTYPE html>
<form class="login2" name="userManagement" ng-submit="userCtrl.userManagement()" novalidate>
    <div class="form-horizontal" >
        <!--
        <div>passwordValid:{{passwordValid}} userManagement.$invalid: {{userManagement.$invalid}}</div>
    -->
    <div class="row" ng-show="userOption == 1">
        <div class="col-xs-12"><h2>Add new User</h2></div>
    </div>
    <div class="row" ng-show="userOption == 2">
        <div class="col-xs-12"><h2>Modify your data</h2></div>
    </div>
    <br/>
    <div class="form-group">
        <label class=" control-label" for="formGroup">Name:</label>
        <div class="">
            <input class="form-control" type="text" ng-model="newUser.name" ng-pattern="/^[a-zA-Z]+$/" required/>
        </div>
        <label class=" control-label" for="formGroup">Last name:</label>
        <div class="">
            <input class="form-control" type="text" ng-model="newUser.surname1" ng-pattern="/^[a-zA-Z]+$/" required/>
        </div>
        <label class=" control-label" for="formGroup">Nick:</label>
        <div class="">
            <input class="form-control" type="text" id="userNick" ng-model="newUser.nick" ng-blur="userCtrl.checkNick()" required/>
            <p class="help-block" ng-if="!nickValid" >
                <b>It already exists a user with this nick, try another one.</b>
            </p>
        </div>
        <label class=" control-label" for="formGroup">Password:</label>
        <div class="">
            <input class="form-control" type="password" ng-model="newUser.password" name="password" ng-minlength="6" required/>
            <p class="help-block" ng-if="newUser.password.$error.minlength || newUser.password.$invalid" >
                Password must be at least 6 characters
            </p>
        </div>
        <label class=" control-label" for="formGroup">Repeat password:</label>
        <div class="">
            <input class="form-control" id="password2" type="password" ng-model="passControl" name="password2" ng-minlength="6" required ng-change="userCtrl.checkPassword()"/>
            <p class="help-block" ng-if="newUser.password != passControl" >
                Password do not match
            </p>
        </div>

        <label class=" control-label" for="formGroup">User Type:</label>
        <div class="">
            <select class="form-control" id="userType" name="userType" ng-model="newUser.userType">
                <option value="0">Administrator</option>
                <option value="1">User</option>
            </select>
        </div>


    </div>
    <div class="form-group">
        <label class=" control-label" for="formGroup">Address:</label>
        <div class="">
            <input class="form-control" type="text" ng-model="newUser.address" required>
        </div>

        <label class=" control-label" for="formGroup">City:</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" ng-model="newUser.city" required>
        </div>


        <label class=" control-label" for="formGroup">State:</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" ng-model="newUser.state" required>
        </div>




        <label class=" control-label" for="formGroup">Email Adress:</label>
        <div class="">
            <input class="form-control" type="email" ng-pattern="/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/" ng-model="newUser.mail" required/>
        </div>
        <label class="control-label" for="formGroup">Phone:</label>
        <div class="">
            <input class="form-control" type="text" ng-pattern="/^[6-9]\d{8}$/" placeholder="666111222" ng-model="newUser.telephone" required/>
        </div>
    </div>
    <div class="form-group">
        <label class=" control-label" for="formGroup">Birth Date:</label>
        <div class="">
            <p class="input-group">
                <input type="text" class="form-control" id="birthDate"
                uib-datepicker-popup="{{format}}"
                is-open="birthDate.opened"
                datepicker-options="dateOptions"
                alt-input-formats="altInputFormats"
                close-text="Close"
                ng-required="true"
                ng-model="newUser.birthDate"
                readonly/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openBirthDate()"><i class="fas fa-calendar-alt"></i></button>
                </span>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label class=" control-label" for="formGroup">Image: <img src="{{newUser.getImage()}}" width="50" height="50" ng-show="userOption == 2"/></label>
        <label class="col-sm-6 control-label" for="formGroup" ng-if="userOption == 1"><input class="form-control" type="file" file="image" accept="image/*" ng-model="image" id="imageUser" valid-file /></label>
        <label class="col-sm-6 control-label" for="formGroup" ng-if="userOption == 2"><input class="form-control" type="file" name="file" accept="image/*" onchange="angular.element(this).scope().setFile(this)" ng-model="imageUserMod" id="imageUserMod" /></label>



        <!--<label class="col-sm-2 control-label" for="formGroup" ng-if="userOption == 2">New Image: <img src="{{userImage}}"></label>-->



    </div>
    <br />
    <br />
    <div class="form-group">
        <label class="col-sm-2 control-label" for="formGroup"></label>
        <div class="col-sm-4">
            <button ng-disabled="userManagement.$invalid || !passwordValid || !nickValid" class="btn btn-success">
                Submit
            </button>
        </div>
        <div class="form-group col-sm-6">
            <label>
                <button type="button" class="btn btn-info" ng-click="userAction=1;showForm=0">Back</button>
            </label>
        </div>
    </div>
</div>
</form>
