<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="infoTechApp" xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>InfoTech</title>
    <link rel="shortcut icon" href="images/logo.jpg" />
    <!-- css-->

    <link rel="stylesheet" type="text/css" href="css/bootstrap/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" type="text/css" href="vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />

    <!-- jQuery-->
    <script src="vendors/jquery/js/jQuery.js" type="text/javascript" xml:space="preserve"></script>

    <!-- jQuery Cookies management-->
    <script src="vendors/jquery/jquery-cookie/jquery.cookie.js" type="text/javascript" xml:space="preserve"></script>

    <!-- Angular-->
    <script src="vendors/angular/js/angular.min.js" type="text/javascript" xml:space="preserve"></script>
    <script src="vendors/angular/js/angular-file-upload.js" type="text/javascript" xml:space="preserve"></script>
    <script src="vendors/angular/js/angular-i18n/angular-locale_es-es.js" type="text/javascript" xml:space="preserve"></script>
    <script src="vendors/angular/js/ng-currency.js" type="text/javascript" xml:space="preserve"></script>
    <script src="vendors/angular/js/angular-cookies.js" type="text/javascript" xml:space="preserve"></script>
    <script src="vendors/angular/js/dirPagination.js" type="text/javascript" xml:space="preserve"></script>
    <script src="vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.js" type="text/javascript" xml:space="preserve"></script>
    
    <!-- Own code-->
    <script src="vendors/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="vendors/angular-datatables.min.js"></script>

    <!-- Model-->
    <script src="js/model/Aplication.js" type="text/javascript" xml:space="preserve"></script>
    <script src="js/model/Review.js" type="text/javascript" xml:space="preserve"></script>
    <script src="js/model/User.js" type="text/javascript" xml:space="preserve"></script>

    <!-- Controllers-->
    <script src="js/app.js" type="text/javascript" xml:space="preserve"></script>
    <script src="js/controller/SessionController.js" type="text/javascript" xml:space="preserve"></script>
    <script src="js/controller/UserController.js" type="text/javascript" xml:space="preserve"></script>
    <script src="js/controller/ApplicationController.js" type="text/javascript" xml:space="preserve"></script>
    <script src="js/controller/ReviewController.js" type="text/javascript" xml:space="preserve"></script>


</head>

<body ng-show="sessionOpened" class="container" ng-controller="SessionController as sessionCtrl" ng-init="userAction=1;sessionCtrl.sessionControl()">
    <h1>BioLab Technology</h1>
    <div ng-show="showForm==0" id="mainMenuMolecules">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> <a class="text-lg-right" id="logout" ng-click="sessionCtrl.logOut();showForm=0">Log out</a> </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> <a class="text-lg-right" id="user" ng-click="showForm=3">User managament</a>
        </div>
    </div>
    <!--
    <header> <img class="" src="images/header.jpg" id="logo" /> </header>
    <div ng-show="showForm==0" id="mainMenuMolecules">
        <h3 class="text-center">Employment application and reviews</h3>
        <br/>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"> <a id="moleculeEntry" ng-show="userType==0" ng-click="showForm=1" href="#">Employment application</a> <a id="moleculeModify" ng-show="userType==1" ng-click="showForm=2" href="#">Company reviews</a> </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> <a class="text-lg-right" id="logout" ng-click="sessionCtrl.logOut();showForm=0">Log out</a> </div>
    </div>
    <div ng-controller="ApplicationController as appCtrl" ng-show="showForm==1">
        <application-entry-form></application-entry-form>
    </div>
    -->
    <div ng-controller="UserController as userCtrl" ng-show="showForm==3" ng-init="userCtrl.loadUsers()">  
        <user-managament></user-managament>
    </div>
    
</body>

</html>
